<%content_for :title do%>Pool Standings<%end%>
<h1><%= @pool_name.titleize %> Pool Standings</h1>

<table class="table score_table">
	<tr>
		<td colspan="3">
			<span class="standings_table_header">
			Click on a player's name to view their bracket.  Click <%= link_to "here", staticpages_scoring_path%> to see how points are awarded. View the <%= link_to "official bracket.", view_master_bracket_path %>
			<span>
		</td>
	</tr>
	<% @standings.each do |key, value| %>
		<span class="player_name"><% n = key.first_name + ' ' + key.last_name %></span>
		<tr>
			<td><%= link_to n, brackets_view_path(key.id), :class => "player_name" %></td>
			<td style="vertical-align: middle;"><span class="badge points_badge"><%= value[:total_points] %> total points</span></td>
			<td style="vertical-align: middle;">
				<% if value[:potential_points] == "N/A bracket not completely filled out" %>
					<span class="badge points_badge">No potential points, bracket not completely filled out</span>
				<% else %>
					<span class="badge points_badge"><%= value[:potential_points] %> potential points remaining</span>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>


